/* timeline blocks */
.timeline {
  display: grid;
  grid-template-columns: 1fr;
}

.year {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.year-label {
  align-items: center;
  background-color: #DDD;
  border-right: 2px solid #99A;
  border-top: 1px solid #99A;
  border-bottom: 1px solid #99A;
  color: #446;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  justify-content: center;
  padding-left; 1.5rem;
}

.year-columns {
  background-color: #CCC;
  color: #335;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.months {
  display: grid;
  grid-template-rows: repeat(12, 1.25rem);
}

.months > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.jan { grid-row:  1; } .feb { grid-row:  2; } .mar { grid-row:  3; }
.apr { grid-row:  4; } .may { grid-row:  5; } .jun { grid-row:  6; }
.jul { grid-row:  7; } .aug { grid-row:  8; } .sep { grid-row:  9; }
.oct { grid-row: 10; } .nov { grid-row: 11; } .dec { grid-row: 12; }

/* month columns */
.col1 { grid-column: 1; } .col2 { grid-column: 2; } .col3 { grid-column: 3; } .col4 { grid-column: 4; }

.trail {
  box-sizing: content-box;
  height: 100%;
  left: 5%;
  position: relative;
  width: 90%;
}

/* trail spans */
.jan-mar { grid-row: 1 / 3; }
.jan-aug { grid-row: 1 / 8; }
.jan-nov { grid-row: 1 / 11; }
.jun-jan { grid-row: 6 / 13; }
.sep-jan { grid-row: 9 / 13; }


/* release card headers */
.game {
  background-color: #222;  /* mystery branch */
  border: 1px solid #EEE;
  border-radius: 0.5rem;
  color: #EEE;
  display: grid;
  grid-row-end: 1;
  grid-template-columns: 1.25rem 1fr 5rem 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.beta { border-style: dotted; }
.demo { border-style: dashed; }

.game > * {
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
}
.icon { grid-column: 1; } .name { grid-column: 2; } .platform { grid-column: 3; } .region { grid-column: 4; }

.icon {
  width:  16px;
  height: 16px;
}

/* TODO: put icons in a font
.game > .name::before { font: "icon_font.ext"; }
.branch-X > .name::before { content: "X "; }
*/

/* game branches */
/* id_software */
.branch-quake  { background-color: #D84; }
.branch-quake2 { background-color: #4A6; }
.branch-quake64  { background-color: #E71; }
.branch-remake-quake  { background-color: #940; }
/* raven */
.branch-hexen2 { background-color: #A00; }
/* ritual */
.branch-sin { background-color: #165; }
/* valve */
.branch-goldsrc { background-color: #F91; }

/* composite branch */
/* trail transition */
.branch-blend-q-q64 { background: linear-gradient(#D84, #E71); }
.branch-blend-q64-q { background: linear-gradient(#E71, #D84); }
/* mixed release */
.branch-mix-q-rmq { background: linear-gradient(135deg, #D84 40%, #940 60%); }
.branch-mix-q-rmq-q64 { background: linear-gradient(135deg, #D84 23%, #940 43% 56%, #E71 76%); }
