* text=auto
# code
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.py text eol=lf
# other text
*.ent text eol=lf
*.map text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.vmf text eol=lf
# binary files
*.blend binary
*.bsp binary
*.d3dbsp binary
